#content {
    margin-bottom: 20px;
    height: auto;
}

.chat-content {
    margin-top: 67px;
}

.chat-show {
    height: 640px;
    overflow-y: scroll;
}

.chat-credit-tip {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    height: 48px;  

    background: #51BBD5;
    border-radius: 6px;
    border: none;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 14px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}

.chat-credit-tip a {
    color: white;
}

.chat-question {
    margin-right: 80px;
}
.chat-ques-input {
    width: 100%; 
    margin-right: 100px;   
}

.chat-ques-input textarea {
    width: 100%;
    height: 66px;
    left: 80px;
    top: 923px;

    border: 1px solid #CDCDCD;
    border-radius: 6px;
    margin-left: 80px;
    padding: 20px;
    font-size: 16px;

    display: block;
    overflow: hidden;
    resize: none;
}

.send-btn {
    height: 67px;
    width: 180px;
    /* left: 946px;
    right: 794px;
    top: 921.93px; */

    /* Button Color */

    background: linear-gradient(180deg, #F3AB82 0%, #E78163 52.08%, #D26B51 99.99%, rgba(224, 119, 90, 0) 100%, rgba(225, 121, 92, 0.0416667) 100%);
    border-radius: 8px;
    border: none;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

.options {
    margin-top: 48px;
    margin-left: 20px;
    margin-right: 80px;
}

.option-booking {

}



.book-main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: auto;
    /* height: 43px; */
}

.book-main-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: auto;
    height: 33px;
}

.book-main-sub label {
    width: auto;
    height: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #212121;
}

.book-btn {
    border-radius: 0px;
    
}

.book-btn button {
    background: linear-gradient(180deg, #F3AB82 0%, #E78163 52.08%, #D26B51 99.99%, rgba(224, 119, 90, 0) 100%, rgba(225, 121, 92, 0.0416667) 100%);
    border: none;
}

.book-tip {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 48px 14px 18px;
    gap: 17px;

    width: auto;
    height: 74px;

    background: #51BBD5;
    border-radius: 4px;

    margin-top: 29px;
}

.book-tip label {
    width: auto;
    height: 46px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.option-medical-info {
    margin-top: 35px;
}

.medical-info-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: auto;
    height: 33px;
}

.medical-info-title label {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    /* identical to box height */
    color: #212121;
}

.medical-info-description label {
    width: auto;
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    letter-spacing: 0.01em;
    color: #707070;
    margin-top: 16px;
}

.medical-info-btn {
    display: flex;
    flex-direction: row;
}

.switch-imperial {
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    width: 276px;
    height: 48px;
    background: #51BBD5;
    border: 1px solid #51BBD5;
    border-radius: 5px 0px 0px 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
}

.switch-metric {
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;  
    gap: 10px;
    width: 276px;
    height: 48px;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #ADADAD;
    border-radius: 0px 5px 5px 0px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #ADADAD;
}

.drop-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 54px;
    left: 1263px;
    top: 1228px;

    background: #F3F3F3;
    border-bottom: 1px solid #CDCDCD;
    border-radius: 4px 4px 0px 0px;
    padding-left: 20px;
    padding-right: 17px;
    margin-top: 26px;
}

.calendar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}