.bt-sche {
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
    position: absolute;
    right: 5px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    gap: 13px;
    color: #FFFFFF;
    width: 151px;
    height: 34px;
    background: linear-gradient(180deg, #F3AB82 0%, #E78163 52.08%, #D26B51 99.99%, rgba(224, 119, 90, 0) 100%, rgba(225, 121, 92, 0.0416667) 100%);
    border-radius: 4px;
    border: none;
}
.bt-icon {
    border: none;
    position: absolute;
    right: 20px;
    background: #F3F3F3;
}
.tit-shape {
    height: 56px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background: #F3F3F3;
    border-bottom: 1px solid #CDCDCD;
    border-radius: 4px 4px 0px 0px;
    align-items: center;
    margin-left: 10px;
}
.txt {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #707070;
    margin-top: 3px;
}
.title{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #212121;
    margin: 0px;
    margin-top: 15px;
}
.p1 {
    margin-top: 25px !important;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    width: auto;
}
input {
    border-radius: 4px;
    border-color: beige;
}

.spc {
    margin-top: 20px;
    margin-bottom: 10px;
}
.heart_container {
    padding: 5px !important;
}
.heart {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background: #1876d2;
    align-items: center;
    display: flex;
    padding-left: auto;
    padding-right: auto;
}
.breath {
    background: white;
}
.heart_letter {
    margin-left: 20px;
}
.icon {
    margin: auto;
    color: white;
}
.iconb {
    margin: auto;
    color: #1876d2;
}
.chart {
    border-radius: 20px;
    background-color: white;
    /* padding: 10px; */
    overflow: hidden;
    display: flex;

}
.rate_input {
    border-radius: 20px;
    background: #1876d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.breath_input {
    background: #d3d3d3;
}
.rate_text {
    width: 60px;
    font-size: 30px;
    border: none;
    background-color: #1876d2;
    color: white;

}
.breath_text {
    background-color: #d3d3d3;
    color: black;
}
.rate_text:focus {
    outline:none;
}
.slider {
    margin-top: 8%;
    margin-bottom: auto;
}

.chatq {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 400;
    color: black;
    margin-left: auto;
}
.chata {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 400;
    color: black;
    margin-right: auto;
}

::-webkit-scrollbar {
        display: none;
}

.chatbox {
    display: flex;
    flex-direction: column;
}
.chatContainer {
    height: calc(100vh - 180px);
    margin-top: 110px;
}
.message {
    bottom: 10px;
}
.box3 {
    max-width: 700px;
    /* margin: 0px auto; */
    margin-left: 20px;
    border-radius: 15px;
    background: #ECECEC;
    color: #111111;
    padding: 15px;
    font-weight: 10;
    font-family: Source Sans Pro;
    font-style: normal;
    position: relative;
    }
    
.box4 {
    max-width: 600px;
    margin: 0px auto;
    margin-right: 20px;
    border-radius: 15px;
    background: #ECECEC;
    color: #111111;
    padding: 15px;
    font-weight: 10;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    position: relative;
}


/* speech bubble 13 */

.sb13:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #ECECEC;
    border-right: 15px solid transparent;
    border-top: 15px solid #ECECEC;
    border-bottom: 15px solid transparent;
    right: -15px;
    top: 0px;
}


/* speech bubble 14 */

.sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #ECECEC;
    border-top: 15px solid #ECECEC;
    border-bottom: 15px solid transparent;
    left: -15px;
    top: 0px;
}